homework-color = #ffcccc;
coding-color = #6ed0dc;
report-color = #97d3c8;
discussion-color = #ace1a2;
unknown-color = #ffee48;
control-color = #102e37;
dark-font-color = #060606;
light-font-color = #f9f9f9;
